<article class="post">
	<div class= "card-margins">
		<div class="card">
			<div class="card-header bg-secondarycolor card-title">
				<a href="/edit/{{id}}" class="text-dark">{{title}}</a> 
			</div>
			<div class="card-body">
				<blockquote class="blockquote mb-0">
					<p>{{body}}</p>
					<footer class="blockquote-footer">{{created_at}} <cite title="Source Title"> by {{user.username}}</cite></footer>
					<div class="meta font-size">
						<a href="/post/{{id}}">{{comments.length}} {{format_plural "comment" comments.length}}</a>
					</div>
				</blockquote>
			</div>
		</div>
	</div>
</article>